/* body {
      margin: 0;
      height: 100vh;
      background: lightblue;
    }

    .rotate-warning {
      position: fixed;
      inset: 0;
      background: black;
      color: white;
      font-size: 1.5em;
      align-items: center;
      justify-content: center;
      text-align: center;
      z-index: 9999;
      display: none;
    }

    body.portrait .rotate-warning {
      display: flex;
    } */